# Ignore Python virtual environment
venv/
# Secrets and configuration files
.env
host_envs/*.env
host_envs/
*.pem
*.key
# Ignore Python cache files
__pycache__/
*.py[cod]
xray*
# Ignore system files
.DS_Store
.idea/
.vscode/
# Ignore log files
*.log
logs/