{
    https_port {$SNI_PORT}
    default_bind 127.0.0.1
    servers {
        listener_wrappers {
            proxy_protocol {
                allow 127.0.0.1/32
            }
            tls
        }
    }
    auto_https disable_redirects
}

http://{$SNI_DOMAIN} {
    bind 0.0.0.0
    redir https://{$SNI_DOMAIN}{uri} permanent
}

https://{$SNI_DOMAIN} {
    tls /etc/caddy/certs/public.pem /etc/caddy/certs/privkey.pem
    root * /var/www/html
    try_files {path} /index.html
    file_server
}

:{$SNI_PORT} {
    tls internal
    respond 204
}

:80 {
    bind 0.0.0.0
    respond 204
}
